* {
    color: #ffff;
}

.projects-container {
    border: 8px double #ffff;
    border-radius: 15px;
    max-width: 60%;
    margin: 0 auto;
    padding: 15px;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

#project-link {
    text-align: center;
}

#project-title {
    color: #f8d83b;
    font-size: 30px;
    text-align: center;
}

#project-objective {
    text-align: center;
}

#project-stacks {
    text-align: left;
}

#projects {
    display: flex;
    text-align: center;
    justify-content: center;
}

.title {
    color: #d3d2d2;
    font-size: 3rem;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 3rem;
    height: 60px;
}

.projects button {
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
}

.navigation-button {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.dot {
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #f8d83b;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .title {
        display: flex;
        margin-bottom: 40px;
    }

    .projects-container {
        display: flex;
    }

    #contact {
        gap: 15px
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .title {
        display: flex;
        margin-bottom: 40px;
    }

    .projects-container {
        padding: 20px;
        display: flex;
    }

    #contact {
        gap: 15px
    }
}

@media screen and (max-width: 767px) {
    .title {
        display: flex;
        margin-bottom: 40px;
    }

    .projects-container {
        padding: 20px;
        display: flex;
    }

    #contact {
        gap: 15px
    }
}