.footer {
  max-width: 80%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  margin-top: 2rem;
  position: blocked;
}

.linkedin,
.email {
  width: 90px;
  height: 90px;
}

.github {
  width: 100px;
  height: 100px;
}

.footer h3 {
  font-size: 2.7rem;
  text-align: center;
  padding: 15px;
  color: #ffffff;
}