body {
  margin: 0px;
  font-family: 'Fira Sans', Arial, sans-serif;
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}
