.container {
  max-width: 100%;
  margin: 15px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.nav-container .navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  transform: translate(-150%);
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  justify-content: flex-end;
  gap: 20px;
}

.navbar .menu-items li {
  font-size: 1.5rem;
  padding: 15px;
  font-weight: 700;
  display: flex;
}

.menu-items a:hover {
  color: #f8d83b;
}

.nav-container input[type='checkbox']:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type='checkbox']:checked~.logo {
  display: none;
}

.flag {
  height: 35px;
  border: 2px solid transparent;
  overflow: hidden;
  border-radius: 100%;
  object-fit: cover;
}

.flag:hover {
  border-color: white;
  transition: border-color 0.2 ease;
}

.language-slide {
  display: none;
  flex-direction: column;
  gap: 14px;
  width: 40px;
  padding: 5px;
  margin-left: 25px;
  margin-top: 10px;
}

#language-icon {
  height: 40px;
  margin-left: 30px;
}

.language-selector {
  position: fixed;
  width: 80px;
}

@media screen and (max-width: 767px) {
  .navbar .menu-items {
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    background-color: black;
    padding-top: 80px;
    gap: 20px;
  }

  .navbar .menu-items li {
    background-color: black;
    padding: 15px;
    font-weight: 700;
    display: flex;
  }

  .navbar .menu-items a {
    font-size: 1.2rem;
  }
}